/dontpanic/aclocal.m4
/dontpanic/autom4te.cache/
/dontpanic/config.h.in
/dontpanic/config.h.in
/dontpanic/config/
/dontpanic/configure
/dontpanic/m4/
/dontpanic/Makefile
/dontpanic/config.h
/dontpanic/config.log
/dontpanic/config.status
/dontpanic/dontpanic-*.tar.gz
/dontpanic/libtool
/dontpanic/src/Makefile
/dontpanic/stamp-h1
/dontpanic/src/dontpanic.pc

Makefile.in
.deps
.libs
*.la
*.o
*.lo
*~

/Acme-Alien-DontPanic/Build
/Acme-Alien-DontPanic/MYMETA.json
/Acme-Alien-DontPanic/MYMETA.yml
/Acme-Alien-DontPanic/_alien
/Acme-Alien-DontPanic/_share
/Acme-Alien-DontPanic/_build
/Acme-Alien-DontPanic/blib

/Acme-Ford-Prefect/Build
/Acme-Ford-Prefect/MYMETA.json
/Acme-Ford-Prefect/MYMETA.yml
/Acme-Ford-Prefect/_alien
/Acme-Ford-Prefect/_share
/Acme-Ford-Prefect/_build
/Acme-Ford-Prefect/blib
/Acme-Ford-Prefect/lib/Acme/Ford/Prefect.c

